/* Basic Page Setup */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}
/* Navbar */
.navbar {
  background-color: navy;
  width: 100%;
  color: white;
  padding: 20px 20px 10px 20px;
  display: flex;
  gap: 30px;
}

.navbar h2 {
  margin: 5px 0;
}

.nav-links {
  margin: 8px 0;
  display: flex;
}

.nav-links a {
  display: inline-flex;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-buttons {
  padding-left: 56.7%;
  margin: 8px 0;
  display: flex;
}

.nav-buttons button {
  background-color: white;
  color: #2b2d42;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: flex;
}

.nav-buttons button:hover {
  background-color: #ddd;
}

/* Main Content */
.main {
  padding: 20px;
}

/* Card Boxes */
.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 20px;
}

.card h3 {
  margin-top: 0;
  color: #2b2d42;
}

/* Input Fields */
input[type="number"],
input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

/* Buttons inside cards */
.card button {
  background-color: #2b2d42;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-top: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #8d99ae;
}

/* Simple list styling */
ul {
  list-style: none;
  padding-left: 10px;
}

ul li {
  margin: 5px 0;
}

.dashboard_div {
  display: flex;
}
.income_fieldset {
  display: flex;
  width: 25%;
  height: 50%;
  border: none;
  border-radius: 10px;
  background-color: rgb(219, 217, 217);
}

.expense_fieldset {
  width: 25%;
  height: 25%;
  border: none;
  border-radius: 10px;
  background-color: rgb(219, 217, 217);
}

.balance_fieldset {
  width: 25%;
  height: 25%;
  border: none;
  border-radius: 10px;
  background-color: rgb(219, 217, 217);
}

.analytics_div {
  display: flex;
}
.incomegraph_fieldset {
  width: 25%;
  height: 25%;
  border: none;
  border-radius: 10px;
  background-color: rgb(219, 217, 217);
}

.expensegraph_fieldset {
  width: 25%;
  height: 25%;
  border: none;
  border-radius: 10px;
  background-color: rgb(219, 217, 217);
}

.balancegraph_fieldset {
  width: 25%;
  height: 25%;
  border: none;
  border-radius: 10px;
  background-color: rgb(219, 217, 217);
}
